$color: #0d9488;
$color2: #061d1c;
$color3: #bae1db;
$color4: #f8fafc;

body {
  background-color: $color;
}

.card {
  box-shadow: 0 4px 5px rgb(0, 0, 0, 0.2);
  border-radius: 3px;
  position: relative;
  overflow: hidden;
}

// .card-body {
//   background-color: $color3;
//   .card-title {
//     text-align: center;
//     color: $color2;
//   }
// }

.card-title {
  text-align: center;
  color: $color2;
}
