.text-title-registration {
  text-align: center;
}

.first-box {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.second-box {
  display: flex;
  justify-content: space-around; 
}
