$color: #0d9488;
$color2: #061d1c;
$color3: #bae1db;
$color4: #f8fafc;

.fav-movie {
  margin-bottom: 15px;
  figure {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: auto;
    width: 100%;
    img {
      display: block;
      height: 400px;
      margin: auto;
    }
    figcaption {
      color: $color2;
      font-size: 25px;
      text-align: center;
      text-decoration: none;
    }
  }
  button.btn {
    display: block;
    margin: auto;
  }
}

.card {
  margin-bottom: 15px;
}

.fav-text {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}
