$color: #0d9488;
$color2: #061d1c;
$color3: #bae1db;
$color4: #f8fafc;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.app-container {
  min-height: 100vh;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  line-height: 1.8;
  background-color: $color;
}
